h1#name {
  margin-bottom: 0;
  color: black;
  font-size: 50px;
}
#job-title {
  margin: 0;
  color: grey;
}

.info {
  /* background-color: black; */
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  color: grey;
}
p {
  display: inline;
  color: grey;
  margin-right: 50px;
}
.skills-container{
  display: flex;
}
main {
  margin: 200px;
  margin-top: 0;
}

hr.main {
  height: 5px;
  background-color: black;
  margin-top: 0;
}
#heading {
  margin-bottom: 0;
}
.job {
  margin-top: 0;
  margin-bottom: 0;
}
.skill {
  border-bottom: 2px solid grey;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.row {
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  
}
.column{
  /* background-color: black; */
  margin-left: 0;
  width: 50%;
}
.achievement-heading {
  margin-top: 0;
  margin-bottom: 0;
  /* background-color: black; */
}
ul{
  color: grey;
}

progress::-moz-progress-bar { background: black; }
progress::-webkit-progress-value { background: black; }
progress { color: black; }